{% extends 'layout.html' %}

{% block title %}
<title>Despacho</title>
{% endblock %}

{% block content %}
<main ng-app="despacho" ng-controller="MainController">
    <aside class="left-panel">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <a class="btn" ui-sref="formularios()">F</a>
            <a class="btn" ui-sref="listas_globales()">LG</a>
        </div>
    </aside>

    <section class="main-panel">
        <div class="top-panel">

        </div>
        <div class="bottom-panel">
            <div ui-view></div>
        </div>
    </section>
</main>
{% endblock %}

{% block script %}
<script src="/despacho/app.js"></script>
<script src="/despacho/mainController.js"></script>
<script src="/despacho/formulariosController.js"></script>
<script src="/despacho/listasGlobalesController.js"></script>
{% endblock %}