{% extends 'layout.html' %}

{% block title %}
<title>Gestion Recursos</title>
{% endblock %}

{% block content %}
<main ng-app="gestion_recursos" ng-controller="MainController">
    <header><h1>Gestion Recursos</h1></header>
    
    <form ng-if="formularios">
        <label>Id
            <span>{{formularios.id}}</span>
        </label>
        <label>Category
            <input ng-model="formularios.category">
        </label>
        <label>Value
            <input ng-model="formularios.value">
        </label>
    </form>
</main>
{% endblock %}

{% block script %}
<script src="/gestion_recursos/app.js"></script>
{% endblock %}