<custom-header></custom-header>
<div>
    <form class="form-horizontal">
        <label>
            Category: <select kendo-combo-box
                              k-data-source="categories"
                              k-data-text-field="'name'"
                              k-data-value-field="'name'"
                              ng-model="continent.category"></select>
        </label>

        <label>
            Value: <input kendo-numeric-text-box k-ng-model="continent.value">
        </label>

        <label>
            Color: <input kendo-color-picker ng-model="continent.color">
        </label>

        <button class="btn" ng-click="addContinent(continent)">Add</button>
        <button class="btn" ng-click="updateContinent()">Update</button>
    </form>
</div>

<div>
    <button class="btn" ng-click="getContinentFromServer()">Sync Data</button>
</div>

<div kendo-grid="grid"
     id="grid1"
     k-options="kendoOptions">
</div>

<ul kendo-context-menu="menu1"
    k-filter="'#grid1'"
    k-on-select="onSelect(kendoEvent)"
    k-data-source="languages">
</ul>

<div>
    <button ng-click="calculate()">Calculate</button>
    <p>{{result}}</p>
</div>

<div kendo-chart
     k-series-defaults="{ type: 'pie' }"
     k-series="[{
                    field: 'value',
                    categoryField: 'category',
                    padding: 0
                  }]"
     k-data-source="continents">
</div>